/*mi estilo*/
#contenedor {
    width: 700px;
}

#cabecera {
}

#menu1 {
    float: left;
    width: 27%;
}

#contenido {
    float: right;
    width: 75%;
}

    #contenido #principal {
        float: right;
        width: 75%;
    }

#pie {
    clear: both;
}
/*estilo menu*/
ul {
    list-style: none;
    width: 268px;
    height: 163px;
}

#menu li > a {
    background-color: royalblue;
    color: white;
    text-decoration: none;
    display: block;
    text-decoration: none;
    min-width: 50px;
    border: inset;
}

    #menu li > a:hover {
        color: #000;
        background-color: #eaeaea;
    }

#menu > li {
    float: left;
    text-align: center;
}

    #menu > li > ul {
        display: none;
    }

    #menu > li:hover > ul {
        display: block;
    }
/*codigo ventana modal*/
#popup {
    visibility: hidden;
    opacity: 0;
    margin-top: -300px;
}

#Tipo_docsalida {
    visibility: hidden;
    opacity: 0; /*id de la etiqueta*/
    margin-top: -300px;
}

    #Tipo_docsalida:target {
        visibility: visible;
        opacity: 1;
        background-color: rgba(0,0,0,0.8);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        z-index: 999;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        transition: all 1s;
    }

#enviado_salida {
    visibility: hidden;
    opacity: 0; /*id de la etiqueta*/
    margin-top: -300px;
}

    #enviado_salida:target {
        visibility: visible;
        opacity: 1;
        background-color: rgba(0,0,0,0.8);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        z-index: 999;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        transition: all 1s;
    }

#Asuntosalida {
    visibility: hidden;
    opacity: 0; /*id de la etiqueta*/
    margin-top: -300px;
}

    #Asuntosalida:target {
        visibility: visible;
        opacity: 1;
        background-color: rgba(0,0,0,0.8);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        z-index: 999;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        transition: all 1s;
    }

#radicadosalida {
    visibility: hidden;
    opacity: 0; /*id de la etiqueta*/
    margin-top: -300px;
}

    #radicadosalida:target {
        visibility: visible;
        opacity: 1;
        background-color: rgba(0,0,0,0.8);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        z-index: 999;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        transition: all 1s;
    }

#fechasalida {
    visibility: hidden;
    opacity: 0; /*id de la etiqueta*/
    margin-top: -300px;
}

    #fechasalida:target {
        visibility: visible;
        opacity: 1;
        background-color: rgba(0,0,0,0.8);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        z-index: 999;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        transition: all 1s;
    }

#Asunto {
    visibility: hidden;
    opacity: 0; /*id de la etiqueta*/
    margin-top: -300px;
}

#Tipo_doc {
    visibility: hidden;
    opacity: 0; /*id de la etiqueta*/
    margin-top: -300px;
}

#fecha {
    visibility: hidden;
    opacity: 0; /*id de la etiqueta*/
    margin-top: -300px;
}

#radicado {
    visibility: hidden;
    opacity: 0; /*id de la etiqueta*/
    margin-top: -300px;
}

#enviado_a {
    visibility: hidden;
    opacity: 0; /*id de la etiqueta*/
    margin-top: -300px;
}

#dirigido_a {
    visibility: hidden;
    opacity: 0; /*id de la etiqueta*/
    margin-top: -300px;
}
/*evento de label etiqueta*/
#Asunto:target {
    visibility: visible;
    opacity: 1;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 999;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

#Tipo_doc:target {
    visibility: visible;
    opacity: 1;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 999;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}
/*evento de label etiqueta*/
#enviado_a:target {
    visibility: visible;
    opacity: 1;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 999;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}
/*evento de label etiqueta*/
#dirigido_a:target {
    visibility: visible;
    opacity: 1;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 999;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}
/*evento de label etiqueta*/
#radicado:target {
    visibility: visible;
    opacity: 1;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 999;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}
/*evento de label etiqueta*/
#fecha:target {
    visibility: visible;
    opacity: 1;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 999;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.popup-contenedor {
    position: relative;
    margin: 7% auto;
    padding: 30px 50px;
    background-color: #fafafa;
    color: #333;
    border-radius: 3px;
    width: 50%;
}

a.popup-cerrar {
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: #333;
    padding: 7px 10px;
    font-size: 20px;
    text-decoration: none;
    line-height: 1;
    color: #fff;
}